/* Coolors Exported Palette - coolors.co/e7ecef-274c77-6096ba-a3cef1-8b8c89 */

/* HSL */
$color1: hsla(203%, 20%, 92%, 1);
$color2: hsla(212%, 51%, 31%, 1);
$color3: hsla(204%, 39%, 55%, 1);
$color4: hsla(207%, 74%, 79%, 1);
$color5: hsla(80%, 1%, 54%, 1);

/* RGB */
$color1: rgba(231, 236, 239, 1);
$color2: rgba(39, 76, 119, 1);
$color3: rgba(96, 150, 186, 1);
$color4: rgba(163, 206, 241, 1);
$color5: rgba(139, 140, 137, 1);